<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/test.css}" rel="stylesheet"></link>

</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <div id="testTime"></div>
    <ul th:each="para : ${paramlist}">
    	<li th:text="${para.value}"></li>
    	<li th:unless="${para.num == 1}" th:text="${para.param}"></li>
	</ul>
	<script th:src="@{/js/test.js}"></script>
</body>
</html>
