<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/test.css}" rel="stylesheet"></link>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col text-left" id="testTime"></div>
			<div class="col text-right" th:text="'Hello, ' + ${name} + '!'"></div>
		</div>
		<p>サンプルの問題</p>
		<div class="row">
			<h2 id="title" class="col-md-7 offset-md-3 text-center"></h2>
			<div id="counter" class="col-md-2 d-flex align-items-end"></div>
		</div>
		<p id="problem" class="offset-md-1 text-center"></p>
		<div id="ngMessage" class="text-danger text-center"></div>
		<div id="function1" class="text-danger text-center"></div>
		<form class="form-inline justify-content-center">
			<input type="text" name="textValue" id="textValue" size="80" />
		</form>
		<form role="form" th:action="@{/typing}" th:object="${inputFormTest}"
			method="post">
			<div class="col text-center">
				<button type="button" class="btn btn-default">画面更新</button>
				<input type="button" class="btn btn-info" id="btnsend" name="submit"
					value="CSV書き込み" onclick="asyncSend()">
			</div>
		</form>
		<div id="result"></div>
		<a href="/history">履歴を見る </a>
		<a href="/select">選択画面に戻る </a>
		<a href="/word_list">一覧 </a>
	</div>

	<script th:inline="javascript">
      /*<![CDATA[*/
         var paramlist = /*[[${questionsPresenter.getList()}]]*/ ;
         var questionNumber = /*[[${questionNumber}]]*/ ;
       /*]]>*/
	</script>
	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/test.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>
